@font-face {
  font-family: 'Moder Demo';
  src: url(/src/assets/fonts/TBJ-Moder-Demo.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  background-color: #fdf9f4;
}

a, h1, h2, h3, h4, p, input, label {
  color: #20201d;
}

div {
  border-radius: 12px;
}
body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
